# Server Environment Configuration
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.ybeglcx.mongodb.net/flashmenu?appName=Cluster0
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=production

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=xt6ci0uh
CLOUDINARY_API_KEY=348191171679119
CLOUDINARY_API_SECRET=fcfoD3x20SYtb87jOjLHTxxB3TM
